
.thumbnail{
    /* background-color: crimson; */
    width: 200px;
    height: 200px;
    float: left;
    margin: 10px;
    cursor: pointer;
}
.thumbnail-image{
    width: 200px;
    height: 180px;
    overflow: hidden;
}
.thumbnail-name{
    width: 200px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-detail{
    width: 100%;
    height: 800px;
    background-color: black;
    opacity: 0.5;
    position: fixed;
}